<% layout('layouts/boilerplate') %>
    <!-- write html code from here to the comment below-->
    
    <form action="/deleteOwner" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="ownerid">Owner id</label>
            <input class="form-control" type="number" id="ownerid" name="owner[ownerid]" required />
        </div>
        <button class="btn btn-primary btn-block">Delete</button>
    </form>

    <!-- do not make changes below this line. Do not delete the three div here -->
    </div>
    </div>
    </div>