<% layout('layouts/boilerplate') %>
    <!-- write html code from here to the comment below-->
    <a href="/logout">logout</a>
    <%=message %>

        <h1>Select a category on the sidebar to start!</h1>


        <!-- do not make changes below this line. Do not delete the three div here -->
        </div>
        </div>
        </div>