<% layout('layouts/boilerplate') %>
    <!-- write html code from here to the comment below-->

    <!-- do not make changes below this line. Do not delete the three div here -->
    </div>
    </div>
    </div>

    