<% layout('layouts/boilerplate') %>
    <!-- write html code from here to the comment below-->
    <h3>Select a Query Below:</h3>
    <form action="/bestTeams" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Team Standings</button>
    </form>
    <form action="/bestPlayers" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Players With Most Points Per Team</button>
    </form>
    <form action="/over10000" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Teams With Players That Have Over 10000 Points</button>
    </form>
    <form action="/worstFT" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Team With The Worst Free Throw Rate</button>
    </form>
    <form action="/coachWins" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Coaches With The Most Wins</button>
    </form>
    <form action="/coachChampionships" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Coaches With More Than 1 Championships</button>
    </form>
    <form action="/coachesInLA" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Coaches Who Coach LA Teams</button>
    </form>
    <form action="/coachesOwners2Championships" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Coaches And Owners With Win Percentage over 60% And At Least 2 Championships</button>
    </form>
    <form action="/coachesOwnersMinWinPer" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Coaches And Owners With Lowest Win Percentage</button>
    </form>
    <form action="/teamsInCA" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Teams In California</button>
    </form>
    <form action="/rocketsOwner" method="POST" class="validated-form" novalidate>
        <button class="btn btn-primary btn-block">Owner Of The Rockets</button>
    </form>
    <!-- do not make changes below this line. Do not delete the three div here -->
    </div>
    </div>
    </div>